<div class="login-container container full-height">
    <div class="row h-100 v-100 ">
        <div class="col d-flex justify-content-center align-items-center">
            <form [formGroup]="loginForm" class="col-sm-8 col-md-6 box-shadow" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input formControlName="userName" type="text" class="form-control" id="userName" aria-describedby="userName" placeholder="Username">
                    <span *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched" class="text-danger">Please enter a valid UserName.</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input formControlName="loginPassword" type="text" class="form-control" id="password" placeholder="Password">
                    <span *ngIf="!loginForm.get('loginPassword').valid && loginForm.get('loginPassword').touched" class="text-danger">Please enter a password.</span>
                </div>
                <!-- ng class if disabled or valid form -->
                <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid" [ngClass]="{'greyout-btn': !loginForm.valid}">Login</button>
            </form>
        </div>
    </div>
</div>