h1 {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
h2 {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
h3 {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
h4 {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
h5 {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
p {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
a {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
span {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}
button {
    font-family: 'Muli', sans-serif;
    letter-spacing: .05rem;
}